body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/mulher.jpeg) no-repeat top fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.container{
    text-align: rigth;
    text-align: justify;
    font-family:'Titillium Web', sans-serif;
}

.btn-6{
    color: #4b0082;
    font-size: bolder;
}
.btn-2{
    color: white;
    font-size: bolder;

}