body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/mulher.jpeg);
    background-repeat: no-repeat top;
    justify-content: center;
    position: absolute;
    background-size: cover;
    color:white;
    display: flex; 
    margin-top: -100px;
    height: 100%;
}

.container{
    text-align: rigth;
    text-align: center;
    font-family:'Titillium Web', sans-serif;
    align-items: center;
    justify-content: center;
}

.btn-6{
    color: #4b0082;
    font-size: bolder;
}
.btn-2{
    color: white;
    font-size: bolder;

}