
body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/mulher.jpeg);
    position: absolute;
    width: 100%;
    margin-left: 400px;
    color:white;
    font-size:200%;
    width: 100%;
    height: 100%; 
}

h2{
    font-family:'Titillium Web', sans-serif;
    border-bottom:3px solid #9C33EF;
    display: inline-block;
    margin: 0 0.5em;
    color: white;
}
h3{
    font-family:'Titillium Web', sans-serif;
    font-weight: 700;
    padding: 0.5em 0;
    line-height: 35px;
    color: white;
}
p{
   font-size: 20px;
}
.bordaroxa{
    border: 4px solid #9C33EF;
    box-sizing: border-box;
    padding: 0.4em;
    font-weight: 700;
    background-color:#000;
    font-size:26px;
    color: white;
}

.caixadireita{
    width: 240px;
    position: relative;
    bottom: 30px;
    left: 5%;

}
.caixaesquerda{
    width: 240px; 

}
#btn-1{
    color: white;
}
.form{
    width:280px; 
    padding: 1em;
    background: #C4C4C4;
    color:black;
    font-size: 18px;
}
.form input{
background-color: #000;
border-radius: 30px;
}
.form input:enabled{
    background-color:#000;
    border-radius: 30px;
    color:#FFFFFF;
        
}
.botaocenter{
    width: 80% !important;
    margin: auto;
    background: #FFFFFF !important;
    border: 4px solid #9C33EF ;
    color: #9c33ef !important;
    font-weight: 700;
}
@media(min-width:700px){
    h2{
       font-size: 96px;
       margin:0;
    }
    body{
      
        padding: 0;
        
    }
    .container{
        max-width: 750px;
    }
}






